body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas{
    border:5px solid white;
    border-radius: 15px;
    animation-name: example;
    animation-duration: 2s;
    margin-top: 60px;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{
        box-shadow: 1px 1px 40px red ;
    }
    to{
        box-shadow: 1px 1px 40px blue;
    }
}